<div class="bgimg" >
  <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark" >
    <div class="container" >
      <img class="navbar-brand" src="../../../assets/img/new_project_logo.png" alt="logo" style="position: absolute;z-index:1000;margin-top: 40px;" >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsenavbar">
        <ul class="navbar-nav ml-auto text-right">
          <li class="nav-item">
            <a href="" class="nav-link text-white" (click)="logout()">Log Out</a>
          </li>
          <!--<li class="nav-item">-->
          <!--<a href="" class="nav-link text-white" [routerLink]="['reinstatement']">Reinstatement</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
          <!--<a href="#" class="nav-link text-white">Portfolio</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
          <!--<a href="#" class="nav-link text-white">About Us</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
          <!--<a href="#" class="nav-link text-white">Team</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
          <!--<a href="#" class="nav-link text-white">Contact Us</a>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
  </nav>

</div>
