/* You can add global styles to this file, and also import other style files */
.bgimg {
  background-image: url(../img/img1.jpg);
  background-size: 100% 100%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.headerset {
  padding: 250px;
  box-sizing: border-box;
}

.headerset h2 {
  font-size: 42px;
}

.headerset h1 {
  font-size: 82px;
  font-weight: bold;
}

.ourservices {
  padding: 100px 0px 60px;
//height: 700px;
}

.ourservices h1 {
  font-size: 50px;
  font-weight: bold;
}

.rowsetting {
  margin: 80px 0px !important;
}

.ourservices {
  padding: 100px;
//height: 700px;
}

.ourservices h1 {
  font-size: 50px;
  font-weight: bold;
}

.rowsetting {
  margin: 80px 0px !important;
}

.rowsetting h2 {
  margin-top: 20px;
  /*font-weight:*/
}

.rowsetting p {
  padding: 10px;
  color: #6c7575 !important;
}

.imgsetting {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.imgsetting i {
  margin-top: 25px;
}


.portfolio {
//height: 1100px;
  width: 100%;
  padding: 100px 0px 50px;
}

.portfolio h1 {
  font-size: 50px;
}

.card {
  margin-top: 40px;
}



.ourteem {
//height: 700px;
  padding: 100px 0px 60px;
  width: 100%;
}

.ourteem h1 {
  font-weight: bold;

}

.teem-setting {
  margin-top: 70px;
}




/*Footer seaction */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Arial', Sans-serif;
  margin: 0;
}

.footer-distributed h3 span {
  /*color: #f14b4b;*/
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-links a:hover {
  color: #f14b4b;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #f14b4b;
  text-decoration: none;
;
}


/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media(min-width: 992px) {

}

@media(min-width: 768px) and (max-width: 991px) {

  .portfolio {
  //height: 3550px;
  }
}

@media(min-width: 575px) and (max-width: 767px) {

  .ourservices {
  //height: 1200px;
    border: 1px solid #000;
  }
}

@media(min-width: 480px) and (max-width: 574px) {

}

@media(max-width:479px) {
  .headerset h2 {
    font-size: 22px;
  }

  .headerset h1 {
    font-size: 42px;
    font-weight: bold;
  }
  .ourservices {
  // height: 1200px;
  }
  .portfolio {
  //height: 2700px;
  }
  .ourteem {
  // height: 1400px;
  }
}


@media (max-width: 767px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }


}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-left>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-left {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}

.nav-item {
  width: 280px !important;
}

.backdrop{
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}
.modal {
  overflow-y: auto !important;
}

