<footer class="footer-distributed">

  <div class="footer-left">

    <h3>GUAM BOARD OF <span>MEDICAL EXAMINERS</span></h3>

    <p class="footer-links">
      ·
      <a href="#">Home</a> ·
      <a href="#">About</a> ·
      <a href="#">Services</a> ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Guam Board Of Medical Examiners &copy; 2018</p>
  </div>

  <div class="footer-center">

    <!--<div>-->
    <!--<i class="fa fa-map-marker"></i>-->
    <!--<p><span>Your demo address</span> Delhi, (Delhi-011)</p>-->
    <!--</div>-->

    <!--<div>-->
    <!--<i class="fa fa-phone"></i>-->
    <!--<p>+910000000000</p>-->
    <!--</div>-->

    <!--<div>-->
    <!--<i class="fa fa-envelope"></i>-->
    <!--<p><a href="mailto:support@company.com">support@guamboardof.com</a></p>-->
    <!--</div>-->

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis
      velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

    </div>

  </div>

</footer>
