<section class="mt-5 temp-form">
<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-3 sidebar-tab">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#home"> CHECKLIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="#menu1">GENERAL INFORMATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">QUESTIONAIRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu3">RECORD OF PAYMENT I</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="tab-content">
        <div class="tab-pane" id="menu1">Profile Tab.</div>
        <!--General Info Tab-->
        <div class="tab-pane active" id="home">
          <form class="form-horizontal">
            <h4 class="text-uppercase">A. Identification</h4>
            <!--Name-->
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputEmail4">(LAST NAME)</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder=" ">
              </div>
              <div class="form-group col-md-4">
                <label for="inputPassword4">(FIRST NAME)</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder=" ">
              </div>

              <div class="form-group col-md-4">
                <label for="inputPassword4">(MIDDLE NAME)</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder=" ">
              </div>
            </div>
            <!--Name-->

            <!--Social Security-->
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="inputEmail4">SOCIAL SECURITY NO.:</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="  ">
              </div>
              <div class="form-group col-md-4">
                <label>SEX:</label>
                <div class="radio radio-inline radio-sm">
                  <input type="radio" id="inlineRadio1smd" value="option1" name="radioInlineSm">
                  <label for="inlineRadio1smd"> M </label>
                  <input type="radio" id="inlineRadio1sms" value="option2" name="radioInlineSm">
                  <label for="inlineRadio1sms"> F </label>
                </div>
              </div>
            </div>
            <!--Social Security-->

            <div class="form-row">
              <div class="form-group col-md-12">
                <label>PERMANENT ADDRESS:</label>
                <textarea name="p-address" class="form-control" rows="5" id="comment" placeholder=""></textarea>
              </div>
            </div>
            <!--Permanent Address-->

            <div class="form-row">
              <div class="form-group col-md-12">
                <label>MAILING ADDRESS:</label>
                <textarea name="p-address" class="form-control" rows="2" id="mail-address" placeholder=""></textarea>
              </div>
            </div>
            <!--Mailing Address-->

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                  <option selected="">Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
            </div>
            <!--City,State-->

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">EMAIL ADDRESS:</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder=" ">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">CONTACT #:</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="">
              </div>
            </div>
            <div class="only-desc">
              <h6>(MANDATORY — for contact purposes only)</h6>
            </div>
            <!--Email and Contact-->
          </form>

          <form class="form-horizontal">
            <h4 class="text-uppercase">B. Educational Information</h4>
            <div class="form-row">
              <div class="form-group col-md-12">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th scope="col">EDUCATIONAL BACKGROUND</th>
                    <th scope="col">NAME &amp; ADDRES</th>
                    <th scope="col">DATE GRADUATED</th>
                    <th scope="col">DEGREE</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">UNIVERSITY</th>
                    <td> <input type="text" class="form-control" id="inputPassword" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword1" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword2" placeholder=""></td>

                  </tr>
                  <tr>
                    <th scope="row">MEDICAL SCHOOL</th>
                    <td> <input type="text" class="form-control" id="inputPassword3" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword5" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword6" placeholder=""></td>

                  </tr>
                  <tr>
                    <th scope="row">POST GRADUATE TRAINING
                      <br><small><b>(Only list ACGME or AOA approved internship,
                        residency and fellowships(s)</b></small>
                    </th>
                    <td> <input type="text" class="form-control" id="inputPassword7" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword8" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword9" placeholder=""></td>

                  </tr>

                  </tbody>
                </table>

              </div>
            </div>
          </form>
          <!--Educational Info-->

          <form class="form-horizontal">
            <h4 class="text-uppercase">C. PROFESSIONAL INFORMATON</h4>
            <div class="form-group">
              <label>1. List past and current medical license for the United States and its Territories and Canada:
              </label>
              <textarea class="form-control" rows="5" id="comment" placeholder=""></textarea>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label>2.  EXAMINATIONS TAKEN (List only if passed and list all parts and dates taken if applicable):
                </label>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">ECFMG</th>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                  </tr>
                  <tr>
                    <th scope="row">FLEX</th>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=" Component 1:"></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=" Component 2:"></td>
                  </tr>
                  <tr>
                    <th scope="row">NBME</th>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=" Part 1"></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=" Part 2"></td><td> <input type="text" class="form-control" id="inputPassword4" placeholder=" Part 3"></td>
                  </tr>
                  <tr>
                    <th scope="row">USMLE</th>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=" Part 1"></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=" Part 2"></td><td> <input type="text" class="form-control" id="inputPassword4" placeholder=" Part 3"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--Examinations Taken-->

            <div class="form-row">
              <div class="form-group col-md-12">
                <label>3. Professional Experience as a physician over the last five (5) consecutive years:
                </label>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th scope="col">FROM</th>
                    <th scope="col">TO</th>
                    <th scope="col">LOCATION</th>
                    <th scope="col">TYPE OF PRACTICE</th>
                    <th scope="col"> REASON FOR DISCONTINUATION</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                  </tr>
                  <tr>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                  </tr>
                  <tr>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                  </tr>
                  <tr>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--Professional Experience-->

            <div class="form-row">
              <div class="form-group col-md-12">
                <label>
                  4. ABMS (American Board of Medical Specialties) Specialty Certification <br />
                  a.  I am ABMS (American Board of Medical Specialties) BOARD CERTIFIED in the following:
                </label>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th scope="col">Specialty</th>
                    <th scope="col">Date Issued </th>
                    <th scope="col">Date Expired</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                  </tr>
                  <tr>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                  </tr>
                  <tr>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                    <td> <input type="text" class="form-control" id="inputPassword4" placeholder=""></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--ABMS -->
          </form>
          <!--Professional Info-->

          <div class="text-center">
            <strong>
              (NOTE: ATTACH COPY OF EACH ABMS BOARD CERTIFICATION)
            </strong>
          </div>

          <form class="form-horizontal">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4">5. My area of practice is/are:</label>
                <input type="email" class="form-control" id="" placeholder=" ">
              </div>
            </div>
          </form>
          <!--Area of practice-->

          <form class="form-horizontal">
            <label>
              <strong>
                D. AFFIDAVIT: TO BE SWORN BEFORE AN OFFICER AUTHORIZED TO ADMINISTER OATHS BY THE APPLICANT WHO HAS COMPLETED
                THIS FORM, AND IS APPLYING FOR GUAM LICENSURE.
              </strong>
            </label>
            <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">SUBSCRIBED AND SWORN TO, BEFORE ME THIS</label>
              <input type="email" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group offset-md-1 col-md-5">
              <label for="inputPassword4">APPLICANT'S SIGNATURE</label>
              <input type="password" class="form-control" id="" placeholder="">
            </div>
          </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">DATE OF</label>
                <input type="email" class="form-control" id="" placeholder="">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">NOTARY PUBLIC</label>
                <input type="password" class="form-control" id="" placeholder="">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">COMMISION EXPIRES</label>
                <input type="email" class="form-control" id="" placeholder="">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group offset-md-8 col-md-4 text-center">
                <label for="">(NOTARY SEAL)</label>
              </div>
            </div>
          </form>
        </div>
        <!--General Info Tab-->

        <!--Release Of Info-->
        <div class="tab-pane" id="menu2">
          <div class="form-group col-md-12">
            <label>
              I <input class="border-default" id="" name="name" placeholder="Name" required="" type="text" value="" /> ,
              do hereby authorize the Guam Board of Medical Examiners to request information from appropriate
              individual/agency/organization to verify my qualifications and/or current licensure standing with other
              Medical Boards.
            </label>
            <label >
              I understand that request for verifications will be forwarded in accordance to the established administrative
              rules and regulations.
            </label>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="">
                (Signature)
              </label>
              <input class="form-control border-default border-danger" name="signature1" placeholder="Signature" required="" type="text" />
            </div>
            <div class="form-group col-md-4"></div>
            <div class="form-group col-md-4">
              <label >(Date)</label>
              <input  class="form-control border-default" name="date" required="" type="date" />
            </div>
            <button class="btn btn-primary" type="submit">NEXT</button>
          </div>
        </div>
        <!--Release Of Info-->


        <div class="tab-pane" id="menu3">Settings Tab.</div>
      </div>
    </div>
  </div>
</div>

  <!--<div class="for-demo">-->
  <!--<ul class="nav nav-tabs">-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link active" data-toggle="tab" href="#home"> CHECKLIST</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" data-toggle="tab" href="#menu1">GENERAL INFORMATION</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" data-toggle="tab" href="#menu2">QUESTIONAIRE</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" data-toggle="tab" href="#menu3">RECORD OF PAYMENT I</a>-->
    <!--</li>-->
  <!--</ul>-->

  <!--<div class="tab-content">-->
    <!--<div class="tab-pane active" id="home">-->
      <!--Home gijhfvnklfm <br /> ehfroeiwjferhfiurebfewj gfiruefhoei;fkjoew'lk wrgfiuwefhoiwrejfpk[ ufhwirohfjwperfklweojp weufgwurhfwoiejfwoe-->
      <!--<p>-->
        <!--hewuirfheroklf; urgfuwiefhowej wrufgtwieojfpwe wriuhyfwrieohfjrje-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="tab-pane active" id="#menu1">-->
      <!--Home gijhfvnklfm <br /> ehfroeiwjferhfiurebfewj gfiruefhoei;fkjoew'lk wrgfiuwefhoiwrejfpk[ ufhwirohfjwperfklweojp weufgwurhfwoiejfwoe-->
      <!--<p>-->
        <!--hewuirfheroklf; urgfuwiefhowej wrufgtwieojfpwe wriuhyfwrieohfjrje-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="tab-pane active" id="#menu2">-->
      <!--Home gijhfvnklfm <br /> ehfroeiwjferhfiurebfewj gfiruefhoei;fkjoew'lk wrgfiuwefhoiwrejfpk[ ufhwirohfjwperfklweojp weufgwurhfwoiejfwoe-->
      <!--<p>-->
        <!--hewuirfheroklf; urgfuwiefhowej wrufgtwieojfpwe wriuhyfwrieohfjrje-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="tab-pane active" id="#menu3">-->
      <!--Home gijhfvnklfm <br /> ehfroeiwjferhfiurebfewj gfiruefhoei;fkjoew'lk wrgfiuwefhoiwrejfpk[ ufhwirohfjwperfklweojp weufgwurhfwoiejfwoe-->
      <!--<p>-->
        <!--hewuirfheroklf; urgfuwiefhowej wrufgtwieojfpwe wriuhyfwrieohfjrje-->
      <!--</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</section>
